
body {
background: #ECF1FB;
margin: 0px;
}

#head {
width: 100%;
height: 101px;
left: 0px;
top: 0px;

background: #4684FF;
}

#foot {
width: 100%;
height: 101px;
left: 0px;
background: #4684FF;
}
#arr {
  font-size: 40px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

#stream {
position: relative;
width: 80%;
left: 10%;
margin-top: 3%;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
border-radius: 10px;
}

#palm {
position: absolute;
width: 101px;
height: 101px;
left: 37%;
top: 0px;
}

#elipse {
position: absolute;
width: 194px;
height: 194px;
left: 30%;
background: #4684FF;
}

#phot {
position: absolute;
width: 101px;
height: 101px;
left: 37%;
}
