body {
  background-color: #ECF1FB;
  margin: 40px;
}

/* ЗАРЕГИСТРИРОВАТЬ КЛАСС */
.btn {
font-family: 'Marmelad';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
padding: 15px;
color: #ECF1FB;
background-color: #535A67;
border-radius: 20px;
width: 100%;
margin-top: 30px;
min-width: 288px;
}
.btn:hover {
  color: #4684FF;
}

#save {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 15px;
  color: #fff;
  background-color: #4684FF;
  margin-top: 30px;
  border-radius: 0px;
  min-width: 288px;
}
#input {
  padding: 15px;
  border-radius: 18px;
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  min-width: 267px;
}
#teacher {
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  min-width: 267px;
}

#myInput {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  min-width: 267px;
}
#add {
  background-color: #4684FF;
  color: white;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  margin: 90px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 20px;
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.name {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 5px;
  color: #4684FF;
  background-color: #ECF1FB;
  border: 3px solid #4684FF;
  margin-top: 10px;
  border-radius: 20px;
}

li {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 5px;
  color: #4684FF;
  background-color: #ECF1FB;
  border: 3px solid #4684FF;
  margin-left: -30px;
  margin-top: 10px;
  border-radius: 20px;
  list-style-type: none;
}

#save1 {
  position: fixed;
  background-color: #4684FF;
  color: white;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-top: 480px;
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
