body {
  background-color: #314146;
  margin: 20px;
  margin-top: 50px;
  transition-duration: 300ms;
}

/* ЗАРЕГИСТРИРОВАТЬ КЛАСС */
.btn {
font-family: "Exo 2", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-size: 16px;
line-height: 21px;
padding: 25px;
color: #fff;
background-color: #5B7279;
border-radius: 20px;
width: 100%;
margin-top: 30px;
min-width: 288px;
}
#theme {
  color: #fff;
}

.btn:hover {
  color: #4684FF;
}
#input::placeholder {
    color: #fff;
    opacity: 0.5;
}
#class::placeholder {
    color: #fff;
    opacity: 0.5;
}
#input1::placeholder {
    color: #fff;
    opacity: 0.5;
}
#teacher::placeholder {
    color: #fff;
    opacity: 0.5;
}
#myInput::placeholder {
    color: #fff;
    opacity: 0.5;
}

#input {
  padding: 15px;
  border-radius: 18px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #fff;
  background-color: #5F6769;
  border: 0px;
  font-size: 11px;
  min-width: 267px;
}
#teacher {
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #fff;
  background-color: #5F6769;
  border: 0px;
  font-size: 11px;
  min-width: 267px;
}

#myInput {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  background-color: #5F6769;
  color: #fff;
  border: 0px;
  font-size: 11px;
  min-width: 267px;
}
#class {
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #fff;
  background-color: #5F6769;
  border: 0px;
  font-size: 11px;
  min-width: 267px;
}

#add {
  background-color: #5B7279;
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  margin: 90px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none;
}
#addd {
  display: block;
  text-decoration: none;
}
#found {
  display: block;
}
#find {
  display: block;
}



li {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 5px;
  color: #fff;
  background-color: #314146;
  border: 3px solid #5B7279;
  margin-left: -30px;
  margin-top: 10px;
  border-radius: 20px;
  list-style-type: none;
}

#save1 {
  position: fixed;
  background-color: #5B7279;
  color: #fff;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-top: 480px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  display: none;
  text-decoration: none;
}
#find {
  background-color: #5B7279;
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  margin: 90px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none;
}
#save2 {
  position: fixed;
  background-color: #5B7279;
  color: #fff;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-top: 480px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  display: none;
  text-decoration: none;
}
#ar {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}
#back {
  width: 100%;
}
.close {
  color: white;
  opacity: 1;
  margin-top: -3px;
}
#phone {
  height: 20px;
  background-color: #C53333;
}
#myUL2 {
  background-color: #C53333;
  box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.5);
}
p {
  position: relative;
  color: #FFD2D2;
  margin: -20px;
  margin-top: 5px;
  padding: 10px;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
a:hover {
  cursor: pointer;
}
a {
  display: block;
  user-select: none;
}
